<template>
    <div>
        <Navigation>

        </Navigation>

        <nuxt class="page-home" />
    </div>
</template>

<script>
import Navigation from '@/components/navigation'

export default {
    components: {
        Navigation,
    },
}
</script>
