$lg-green:              #8BC755;
$lg-blue:               #1B263B;

$lg-theme-blue:         #24B0E3;
$lg-theme-dark-blue:    #0080C0;
$lg-theme-orange:       #F7941D;
$lg-theme-yellow:       #FEB813;
$lg-theme-light-green:  #8AC755;
$lg-theme-green:        #6DA745;
$lg-theme-dark-green:   #4B8455;

$lg-grey:               #A3A9AD;
$lg-dark-grey:          #DBDEDE;
$white:                 #FFFFFF;

$font-family-sans-serif:      "DIN Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif:           "Roboto Slab", Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

// Define Bootstrap variable overrides here
$primary:   $lg-green;
$secondary: $lg-blue;

// Buttons + Forms
// Allows for customizing button radius independently from global border radius
$btn-border-radius:           0;
$btn-border-radius-lg:        0;
$btn-border-radius-sm:        0;

$btn-padding-y:               22px;
$btn-padding-x:               38px;
$btn-font-size:               12px;
$btn-line-height:             14px;
$btn-font-weight:             bold;
