<div class="thema-pp">
    <h1>{{ resource.title }}</h1>
    <p>{{ resource.content|replace_url|raw }}</p>
    <strong>{{ resource.listTitle }}</strong>
    <p>{{ resource.themes|join(', ') }}</p>
</div>
