<div class="program-starway-pp">
    <div class="row" style="display: flex; margin-top: 2rem;">
        <div class="col-sm-4">
            <p>{{ resource.subtitle }}</p>
            <h2>{{ resource.title }}</h2>
            <p>{{ resource.content }}</p>
            <p>{{ resource.registerButton }}</p>
        </div>
        <div class="col-sm-8">
            <div class="row" style="display: flex; margin-top: 2rem;">
                <div class="col-sm-4">
                    {% if resource.star1Image is not empty %}
                        <div style="max-width: 500px;">
                            <img src="{{ asset(resource.star1Image.url) }}"/>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    <p style="font-weight: bold;">{{ resource.star1Title }}</p>
                    <hr>
                    <p>{{ resource.star1Content }}</p>
                </div>
            </div>
            <div class="row" style="display: flex; margin-top: 2rem;">
                <div class="col-sm-4">
                    {% if resource.star2Image is not empty %}
                        <div style="max-width: 500px;">
                            <img src="{{ asset(resource.star2Image.url) }}"/>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    <p style="font-weight: bold;">{{ resource.star2Title }}</p>
                    <hr>
                    <p>{{ resource.star2Content }}</p>
                </div>
            </div>
            <div class="row" style="display: flex; margin-top: 2rem;">
                <div class="col-sm-4">
                    {% if resource.star3Image is not empty %}
                        <div style="max-width: 500px;">
                            <img src="{{ asset(resource.star3Image.url) }}"/>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    <p style="font-weight: bold;">{{ resource.star3Title }}</p>
                    <hr>
                    <p>{{ resource.star3Content }}</p>
                </div>
            </div>
            <div class="row" style="display: flex; margin-top: 2rem;">
                <div class="col-sm-4">
                    {% if resource.star4Image is not empty %}
                        <div style="max-width: 500px;">
                            <img src="{{ asset(resource.star4Image.url) }}"/>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    <p style="font-weight: bold;">{{ resource.star4Title }}</p>
                    <hr>
                    <p>{{ resource.star4Content }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
