<div class="home-cta-pp">
    <div class="row" style="display: flex;">
        <div class="col-sm-4">
            <p style="font-weight: bold;">{{ resource.registerTitle }}</p>
            <hr>
            <p>{{ resource.registerButton }}</p>
        </div>
        <div class="col-sm-4">
            <p style="font-weight: bold;">{{ resource.contactTitle }}</p>
            <hr>
            <p>{{ resource.contactButton }}</p>
        </div>
    </div>
</div>
