{% extends '@KunstmaanAdmin/Settings/index.html.twig' %}
{% form_theme form '@KunstmaanAdmin/Form/fields.html.twig' %}

{% block header %}{% endblock %}

{% block content %}
    {{ form_start(form, {'method': 'POST', 'action': path('app_admin_companies_add'), 'attr': {'novalidate': 'novalidate', 'autocomplete': 'off'}}) }}

        <!-- Header -->
        <header class="app__content__header">
            <div class="row">
                {% if adminmenu.current %}
                    <div class="col-sm-6 col-md-8">
                        <h1 class="app__content__header__title">
                            {{ adminmenu.current.label | trans }} {% block page_header_addition %}{% endblock %}
                        </h1>
                    </div>
                {% endif %}

                <div class="col-sm-6 col-md-4">
                    <!-- Main-actions -->
                    <div class="js-auto-collapse-buttons page-main-actions page-main-actions--no-tabs page-main-actions--inside-extra-actions-header">
                        <div class="btn-group">
                            {% block actions %}
                                <button type="submit" class="btn btn-primary btn--raise-on-hover">
                                    {{ 'settings.company.add' | trans }}
                                </button>
                                <a href="{{ path('app_admin_companies') }}" class="btn btn-default btn--raise-on-hover">
                                    {{ 'form.cancel' | trans }}
                                </a>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Scroll-actions -->
        <div class="page-main-actions page-main-actions--top" id="page-main-actions-top">
            <div class="btn-group">
                {{ block('actions') }}
                <button type="button" class="js-scroll-to-top btn btn-default btn--raise-on-hover">
                    <i class="fa fa-caret-up"></i>
                </button>
            </div>
        </div>

        <!-- Fields -->
        <fieldset class="form__fieldset--padded">
            {{ form_rest(form) }}
        </fieldset>
    {{ form_end(form) }}
{% endblock %}
