<template>
    <div class="navigation" :class="{ 'navigation--filled': showFilledNav, 'navigation--open': mobileMenuOpen}">
        <div class="container">
            <div class="navigation__wrapper">
                <div class="navigation__logo">
                    <nuxt-link
                        :to="localePath('index')"
                        class="navigation__link"
                    >
                        Home
                    </nuxt-link>
                </div>

                <nav class="navigation__links">
                    <nuxt-link v-for="routes in links"
                               :key="routes.id"
                               class="navigation__link"
                               :to="localePath(routes.page)">
                        {{$t(routes.i18n)}}
                    </nuxt-link>
                </nav>

                <div class="navigation__user">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-primary" href="/register">Registreren</a>
                        <a class="btn btn-sm btn-primary-outline" href="/login">Inloggen</a>
                    </div>
                </div>

                <div class="navigation__language">
                    <nuxt-link class="language" :to="switchLocalePath('nl_NL')">NL</nuxt-link>
                    <span class="spacer"></span>
                    <nuxt-link class="language" :to="switchLocalePath('en_NL')">EN</nuxt-link>
                </div>

                <div class="navigation__toggle">
                    <transition name="fade" mode="out-in">
                        <button v-if="!mobileMenuOpen" :key="'mobileOpen'" @click="toggleNav">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="18" viewBox="0 0 28 18">
                                <rect id="Rectangle_171" data-name="Rectangle 171" width="28" height="2"/>
                                <rect id="Rectangle_172" data-name="Rectangle 172" width="20" height="2"
                                      transform="translate(8 8)"/>
                                <rect id="Rectangle_173" data-name="Rectangle 173" width="28" height="2"
                                      transform="translate(0 16)"/>
                            </svg>
                        </button>

                        <button v-else :key="'mobileClose'" @click="toggleNav">
                            <svg xmlns="http://www.w3.org/2000/svg" width="21.213" height="21.213"
                                 viewBox="0 0 21.213 21.213">
                                <g id="Group_544" data-name="Group 544"
                                   transform="translate(-194.454 -253.851) rotate(45)">
                                    <rect id="Rectangle_171" data-name="Rectangle 171" width="28" height="2"
                                          transform="translate(318 41)"/>
                                    <rect id="Rectangle_551" data-name="Rectangle 551" width="28" height="2"
                                          transform="translate(331 56) rotate(-90)"/>
                                </g>
                            </svg>
                        </button>
                    </transition>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Navigation',

    data() {
        return {
            mobileMenuOpen: false,
            showFilledNav: false,
            links: [
                {
                    id: 0,
                    i18n: 'pages.program',
                    page: 'program'
                },
                {
                    id: 1,
                    i18n: 'pages.news',
                    page: 'news'
                },
                {
                    id: 2,
                    i18n: 'pages.events',
                    page: 'events'
                },
                {
                    id: 3,
                    i18n: 'pages.measurements',
                    page: 'measurements'
                },
                {
                    id: 4,
                    i18n: 'pages.participants',
                    page: 'participants'
                },
                {
                    id: 5,
                    i18n: 'pages.contact',
                    page: 'contact'
                }
            ]
        }
    },

    watch: {
        '$route'(to, from) {
            this.mobileMenuOpen = false;
            this.handleScroll();
        }
    },

    created() {
        if (process.browser) {
            window.addEventListener('scroll', this.handleScroll);
        }
    },

    destroyed() {
        if (process.browser) {
            window.removeEventListener('scroll', this.handleScroll);
        }
    },

    mounted() {
        this.$nextTick(() => {
            this.handleScroll();
        })
    },

    methods: {
        handleScroll() {
            this.showFilledNav = 0 < window.scrollY
        },

        toggleNav() {
            this.mobileMenuOpen = !this.mobileMenuOpen
        },
    },
}
</script>
