<template>
    <span class="icon" :style="{'mask': 'url(\''+ iconSrc +'\') no-repeat 50% 50%', '-webkit-mask': 'url(\''+ iconSrc +'\') no-repeat 50% 50%'}"></span>
</template>

<script>
    export default {
        name: 'SvgIcon',

        props: {
            iconSrc: {
                type: String,
                default: '',
            },
        }
    }
</script>

<style lang="scss" scoped>

</style>
