button {
    padding: 0;
    background-color: transparent;
    border: none;
}

.btn {
    text-transform: uppercase;

    &-outline-light {
        color: $white;
        border-color: rgba($white, 0.56);
    }

    &-outline-lighter {
        color: $white;
        border-color: rgba($white, 0.24);

        &:hover {
            color: rgba($white, 0.24);
        }
    }
}
