@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro'), local('DINPro'),
    url('/fonts/DINPro.woff2') format('woff2'),
    url('/fonts/DINPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro Bold'), local('DINPro-Bold'),
    url('/fonts/DINPro-Bold.woff2') format('woff2'),
    url('/fonts/DINPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro Black'), local('DINPro-Black'),
    url('/fonts/DINPro-Black.woff2') format('woff2'),
    url('/fonts/DINPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro Light'), local('DINPro-Light'),
    url('/fonts/DINPro-Light.woff2') format('woff2'),
    url('/fonts/DINPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro Medium'), local('DINPro-Medium'),
    url('/fonts/DINPro-Medium.woff2') format('woff2'),
    url('/fonts/DINPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro Light Italic'), local('DINPro-LightItalic'),
    url('/fonts/DINPro-LightItalic.woff2') format('woff2'),
    url('/fonts/DINPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro Bold Italic'), local('DINPro-BoldItalic'),
    url('/fonts/DINPro-BoldItalic.woff2') format('woff2'),
    url('/fonts/DINPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro Black Italic'), local('DINPro-BlackItalic'),
    url('/fonts/DINPro-BlackItalic.woff2') format('woff2'),
    url('/fonts/DINPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro Italic'), local('DINPro-Italic'),
    url('/fonts/DINPro-Italic.woff2') format('woff2'),
    url('/fonts/DINPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro Medium Italic'), local('DINPro-MediumItalic'),
    url('/fonts/DINPro-MediumItalic.woff2') format('woff2'),
    url('/fonts/DINPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');


