// Theme styling
@import 'animations';
@import 'button';
@import 'typography';

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    transition: background-color 120ms ease-in-out, color 120ms ease-in-out;
    background-color: black;

    @include media-breakpoint-up(lg) {
        border-bottom: 1px solid rgba($lg-dark-grey, .24);
    }

    &__wrapper {
        display: flex;
        align-items: center;
        padding: 22px 0;
    }

    &--open {
        .navigation {
            &__wrapper {
                flex-wrap: wrap;
                position: fixed;
                align-content: baseline;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: $lg-blue;
            }

            &__links,
            &__user,
            &__language {
                @include media-breakpoint-down(md) {
                    display: flex;
                }
            }

            &__logo {
                padding-left: 15px;
                margin-right: auto;
            }

            &__language {
                order: 1;
            }

            &__toggle {
                order: 2;
                margin-left: 15px;
                margin-right: 15px;
            }

            &__links {
                display: block;
                flex-direction: column;
                order: 3;
                min-width: 100%;
                height: calc(100% - 135px);
                border-top: 1px solid rgba(white, .24);
                overflow: scroll;
                margin-top: 22px;
                color: black;

                .navigation__link {
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid rgba(white, .24);
                    height: 68px;
                    margin: 0;
                    padding: 0 22px;
                }
            }

            &__user {
                order: 4;

                display: flex;
                justify-content: center;
                width: 100%;
                margin-top: 22px;
            }
        }
    }

    &__links {
        margin-right: auto;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__user {
        @include media-breakpoint-down(md) {
            display: none;
        }

        display: flex;
        align-items: center;
        height: 40px;

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            min-width: 130px;
            color: $white;
            text-transform: unset;
            font-weight: 500;

            &:first-child {
                border-color: #0080C2;
                background-color: #0080C2;

                &:hover {
                    border-color: darken(#0080C2, 10%);
                    background-color: darken(#0080C2, 10%);
                }
            }

            &.btn-primary-outline {
                border: 1px solid rgba($white, .24);
                border-left: none;

                &:hover {
                    border-color: rgba($white, .24);
                    background-color: rgba($white, .24);
                }
            }
        }
    }

    &__language {
        @include media-breakpoint-down(md) {
            display: none;
        }

        display: flex;
        align-items: center;
        border: 1px solid rgba($white, .24);
        height: 40px;
        margin-left: 18px;

        .language {
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            color: rgba($white, .24);
            padding: 0 10px;
            background-color: transparent;
            border-color: transparent;

            &:first-child {
                border-right: 1px solid rgba($white, .24);
            }

            &.nuxt-link-exact-active,
            &--active {
                color: $white;
            }
        }
    }

    &__link {
        margin: 0 20px;
        font-weight: 500;
        font-size: 15px;
        color: #fff;
        opacity: 0.8;

        &.nuxt-link-active {
            color: $lg-green;
            text-decoration: none;
        }
    }

    &__toggle {
        display: flex;
        justify-content: flex-end;
        flex-basis: 40px;
        margin-left: auto;
        fill: $white;

        button {
            padding: 0;
        }

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    &__logo {
        order: 0;

        .logo {
            height: 52px;
            margin-right: 10px;

            img {
                display: block;
                height: 100%;
                width: auto;
            }
        }
    }

    &--filled:not(&--open) {
        background-color: white;
        @include media-breakpoint-up(lg) {
            border-bottom: 1px solid $lg-dark-grey;
        }

        .navigation__user .btn,
        .navigation__link {
            color: $lg-blue;
        }

        .navigation__user .btn {
            border: 1px solid $lg-dark-grey;

            &:first-child {
                color: $white;
            }
        }

        .navigation__language {
            border: 1px solid $lg-dark-grey;

            .language {
                color: rgba($lg-blue, .3);

                &.nuxt-link-exact-active,
                &--active {
                    color: $lg-blue;
                }

                &:first-child {
                    border-right: 1px solid $lg-dark-grey;
                }
            }
        }

        .navigation__toggle {
            fill: $lg-blue;
        }
    }
}

.page-home {
    margin-top: 100px;
}

.icon {
    display: inline-block;
    -webkit-mask-size: cover;
    mask-size: cover;
    min-width: 18px;
    width: auto;

    &:hover,
    &.active {
        background-color: $white;
    }

    &--blue {
        background-color: $lg-theme-blue;
    }

    &--dark-blue {
        background-color: $lg-theme-dark-blue;
    }

    &--orange {
        background-color: $lg-theme-orange;
    }

    &--yellow {
        background-color: $lg-theme-yellow;
    }

    &--light-green {
        background-color: $lg-theme-light-green;
    }

    &--green {
        background-color: $lg-theme-green;
    }

    &--dark-green {
        background-color: $lg-theme-dark-green;
    }
}
