<template>
    <div>
        Home
    </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
    components: {},

    computed: {
        ...mapGetters({
            header: 'homepage/getHeader',
            statistics: 'homepage/getStatistics',
        })
    },

    asyncData({app, store}) {
        return app.$api
            .getPage('')
            .then(res => {
                store.dispatch('homepage/init', res.data)
            })
            .catch(err => console.log(err))
    },
}
</script>
