<template>
    <div class="container">
        <h1 class="text-center">Login</h1>
        <div v-if="error" role="alert" class="alert alert-danger">
            {{ error + '' }}
        </div>

        <div v-if="$auth.$state.redirect" role="alert" class="alert alert-info">
            You have to login before accessing to <strong>{{ $auth.$state.redirect }}</strong>
        </div>

        <div class="card col-8 mt-5 text-left">
            <form class="py-3" @keydown.enter="login">
                <fieldset class="form-group">
                    <legend tabindex="-1" class="col-form-label pt-0">Username</legend>
                    <div tabindex="-1" role="group">
                        <input ref="username" v-model="username" type="text" placeholder="developer" class="form-control">
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <legend tabindex="-1" class="col-form-label pt-0">Password</legend>
                    <div tabindex="-1" role="group">
                        <input v-model="password" type="password" placeholder="developer" class="form-control">
                    </div>
                </fieldset>
                <div class="text-center">
                    <button type="button" class="btn btn-primary btn-block" @click="login">Login</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        middleware: ['auth'],

        data() {
            return {
                username: 'developer',
                password: 'developer',
                error: null
            }
        },

        computed: {
            redirect() {
                return (
                    this.$route.query.redirect &&
                    decodeURIComponent(this.$route.query.redirect)
                )
            },
        },

        methods: {
            login() {
                this.error = null

                return this.$auth
                    .loginWith('local', {
                        data: {
                            username: this.username,
                            password: this.password
                        }
                    })
                    .catch(e => {
                        this.error = e
                    })
            }
        }
    }
</script>

<style lang="scss">
    .container {
        margin: 0 auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
</style>
