<template>
    <section class="container">
        <div>
            <h1>Ingelogd!</h1>

            <div class="btn-group">
                <button class="btn btn-primary" @click="$auth.fetchUser()">Fetch User</button>
                <button class="btn btn-outline-danger" @click="$auth.logout()">Logout</button>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        auth: true,
    }
</script>
