<div class="home-header-pp">
    {% if resource.imgSrc is not empty %}
        <div style="max-width: 500px;">
            <img src="{{ asset(resource.imgSrc.url) }}"/>
        </div>
    {% endif %}
    <p>{{ resource.subtitle }}</p>
    <h1>{{ resource.title|replace_url|raw }}</h1>
    <p>{{ resource.anchorText }}</p>
</div>
