<div class="program-lean-green-pp">
    <h2>{{ resource.title }}</h2>
    <div class="row" style="display: flex;">
        <div class="col-sm-4">
            <p style="font-weight: bold;">{{ resource.leanTitle }}</p>
            <hr>
            <p>{{ resource.leanContent }}</p>
        </div>
        <div class="col-sm-4">
            <p style="font-weight: bold;">{{ resource.greenTitle }}</p>
            <hr>
            <p>{{ resource.greenContent }}</p>
        </div>
    </div>
</div>
