<div class="program-header-pp">
    {% if resource.image is not empty %}
        <div style="max-width: 500px;">
            <img src="{{ asset(resource.image.url) }}"/>
        </div>
    {% endif %}
    <p>{{ resource.subtitle }}</p>
    <h1>{{ resource.title|replace_url|raw }}</h1>
    <p>{{ resource.content }}</p>
</div>
