<div class="home-statistics-pp">
    <div class="row" style="display: flex;">
        <div class="col-sm-4">
            <p style="font-weight: bold;">Statistic 1</p>
            <hr>
            <p>{{ resource.statistic1Value }}</p>
            <p>{{ resource.statistic1Title }}</p>
            <p>{{ resource.statistic1Text }}</p>
        </div>
        <div class="col-sm-4">
            <p style="font-weight: bold;">Statistic 2</p>
            <hr>
            <p>{{ resource.statistic2Value }}</p>
            <p>{{ resource.statistic2Title }}</p>
            <p>{{ resource.statistic2Text }}</p>
        </div>
        <div class="col-sm-4">
            <p style="font-weight: bold;">Statistic 3</p>
            <hr>
            <p>{{ resource.statistic3Value }}</p>
            <p>{{ resource.statistic3Title }}</p>
            <p>{{ resource.statistic3Text }}</p>
        </div>
    </div>
</div>
